@import url(colors.css);

#btt {
    display: none; 
    position: fixed; 
    bottom: 40px; 
    right: 14.5px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    color: var(--bttIn1);
    background-color: var(--bttOut1); 
    cursor: pointer; 
    border-radius: 40px; 
    font-size: 18px; 
    width: 70px; 
    height: 70px;
    text-align: center;
    user-select: none;
    transition-duration: 0.4s;
  }
  
  #btt:hover {
    color: var(--bttIn2); 
    background-color: var(--bttOut2); 
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
  }
  
  .bttIcon {
    display: flex;
    align-items: center;
    justify-content: center;
  }