:root.dark-mode {
    --nightTop: #121847;
    --nightBottom: #273298;
    --dropShadow: #273296c4;
    --navTxtHover: #f5f6fc;
    --navTxt: #e1e3f7;
    --navSubTxt: #b8bded;
    --textHover: hsl(231, 54%, 97%);
    --text: #f5f6fc;
    /* --text2: #ccd0f2; */
    --subTxt: #b8bded;
    --section: #182061;
    --section2: #171c50;
    --planet: #1218474b;
    --orbit: #afb8fd52;
    --lightTxt: #f5f6fc;
    --lightSubTxt: #b8bded;
    --darkTxt: #273398;
    --darkSubTxt: #5260d3;
    --lb3: #ccd0f2; 
    --lb5: #a4abe8;
    --lb6: #8f98e2;
    --lb7: #7b85dd;
    --lb8: #6772d8;
    --lb9: #5260d3;
    --lb10: #3e4dce;
    --db1: #3140c1;
    --db2: #2c3aad;
    --db3: #273398;
    --modal: #1d2570;
    --modalBlur: rgba(29, 37, 112, 0.4);
    --db6: #171e5b;
    --bg: #080a1e; /*Old: 273298*/
    --bg2: #182061;
    --bttIn1:#f5f6fc;
    --bttOut1:#0d1133;
    --bttIn2:#0d1133;
    --bttOut2:#e1e3f7;
    --titleBttnHover: #212a81;
    --thumbBg: #222c84;
    --scrollbarBg: #0d1133;
    --scrollHover: #e1e3f7;
    --footerBg: #171c50;
    --textSelect: #03030a;
    --moonLight: #fcdc92;
    --moonDark: #2b1616;
    --moon: #ffd983;
    --moon2: #fdcb4c;
    --moon3: #f0ac00;
    --moonH5: #fcdc92;
    --greyMoon: #b8bded;
    --greyMoon2: #7b85dd;
    --gridMainHighlight: #5260d3;
    --gridRowHighlight: #ffffff0a;
    --gridRowHighlight2: #5966d5;
    --gridRowHighlight3: #1d2459;
    --gridRowHighlight4: #1f2660;
    --gridColHighlight: hsla(234, 59%, 13%, 0.329);
    --gridColHighlight2: hsla(234, 59%, 13%, 0.18);
    --block: #161e59;
    --blockOutline: #ffffff0a;
    --spaceTop: #141b52;
    --spaceBottom: #080a1e;
    --separator: #ffffff17;
    --cloud: url(../assets/lunesDarkCloud.svg);
    --star: url(../assets/lunesStarDark.svg);
    --sparked: url(../assets/sparkedLightLogo.svg);
    --cubes: url(../assets/cubesLightLogo.svg);
    --bgOrbit: url(../assets/lunesOrbitLight.svg);
    --uranus: url(../assets/planetRingedLight.svg);
    --rocket: url(../assets/shuttleSpaceLight.svg);
}

:root {
    --nightTop: #273296cc;
    --nightBottom: #27329800;
    --dropShadow: #273298c4;
    --navTxtHover: #f5f6fc;
    --navTxt: #e1e3f7;
    --navSubTxt: #b8bded;
    --textHover: #3e4dce;
    --text: #273398;
    /* --text2: #3140c1; */
    --subTxt: #5260d3;
    --section: #ecedfa;
    --section2: #d9dbfa;
    --planet: #a5ace91f;
    --orbit: #040a3c1f;
    --lightTxt: #f5f6fc;
    --lightSubTxt: #b8bded;
    --darkTxt: #273398;
    --darkSubTxt: #5260d3;
    --black: #000000;
    --lb3: #ccd0f2; 
    --lb5: #a4abe8;
    --lb6: #8f98e2;
    --lb7: #7b85dd;
    --lb8: #6772d8;
    --lb9: #5260d3;
    --lb10: #3e4dce;
    --db1: #3140c1;
    --db2: #2c3aad;
    --db3: #273398;
    --modal: #f5f6fc;
    --modalBlur: rgba(225, 227, 247, 0.4);
    --db6: #171e5b;
    --bg: #e1e3f7;
    --bg2: #ecedfa;
    --bttIn1:#273398;
    --bttOut1:#ccd0f2;
    --bttIn2:#ccd0f2;
    --bttOut2:#273398;
    --titleBttnHover: #b7bbe1;
    --thumbBg: #f5f6fc;
    --scrollbarBg: #ccd0f2;
    --scrollHover: #273398;
    --footerBg: #e1e3f7;
    --textSelect: #03030a;
    --moonLight:#fcdc92;
    --moonDark: #2b2716;
    --moon: #ffd983;
    --moon2: #fdcb4c;
    --moon3: #f0ac00; 
    --moonH5: #f0ac00;
    --greyMoon: #273398;
    --greyMoon2: #818eff;
    --gridMainHighlight: #818eff;
    --gridRowHighlight: #0000000d;
    --gridRowHighlight2: #7c88f5;
    --gridRowHighlight3: #c7cbf2;
    --gridRowHighlight4: #d3d6f1;
    --gridColHighlight: hsla(234, 100%, 79%, 0.329);
    --gridColHighlight2: hsla(234, 100%, 79%, 0.18);
    --block: #e3e5f8;
    --blockOutline: #0000000d;
    --spaceTop: #a2a7d3;
    --spaceBottom: #e1e3f7;
    --separator: #00000017;
    --cloud: url(../assets/lunesLightCloud.svg);
    --star: url(../assets/lunesStarLight.svg);
    --sparked: url(../assets/sparkedDarkLogo.svg);
    --cubes: url(../assets/cubesDarkLogo.svg);
    --bgOrbit: url(../assets/lunesOrbitDark.svg);
    --uranus: url(../assets/planetRingedDark.svg);
    --rocket: url(../assets/shuttleSpaceDark.svg);
}