:root.dark-mode {
    --nightTop: #121847;
    --nightBottom: #273298;
    --dropShadow: #273298c4;
    --navTxtHover: #f5f6fc;
    --navTxt1: #e1e3f7;
    --navSubTxt: #b8bded;
    --textHover: hsl(231, 54%, 97%);
    --text1: #f5f6fc;
    --text2: #ccd0f2;
    --lb3: #ccd0f2; 
    --subTxt: #b8bded;
    --section: #182061;
    --crater: #1218474b;
    --lb5: #a4abe8;
    --lb6: #8f98e2;
    --lb7: #7b85dd;
    --lb8: #6772d8;
    --lb9: #5260d3;
    --lb10: #3e4dce;
    --db1: #3140c1;
    --db2: #2c3aad;
    --db3: #273398;
    --scrollHover: #222c84;
    --modal: #1d2570;
    --modalBlur: rgba(29, 37, 112, 0.7);
    --db6: #171e5b;
    --bg: #273298; /*Old: 121847*/
    --scrollBar: #1d2570;
    --scrollBg: #0d1133;
    --footerBg: #080a1e;
    --textSelect: #03030a;
    --moon1: #ffd983;
    --moon2: #fdcb4c;
}

:root {
    --nightTop: #273298;
    --nightBottom: #27329800;
    --dropShadow: #273298c4;
    --navTxtHover: #f5f6fc;
    --navTxt1: #e1e3f7;
    --navSubTxt: #b8bded;
    --textHover: #3e4dce;
    --text1: #273398;
    --text2: #3140c1;
    --lb3: #ccd0f2; 
    --subTxt: #5260d3;
    --section: #ecedfa;
    --crater: hsla(234, 60%, 78%, 0.12);
    --lb5: #a4abe8;
    --lb6: #8f98e2;
    --lb7: #7b85dd;
    --lb8: #6772d8;
    --lb9: #5260d3;
    --lb10: #3e4dce;
    --db1: #3140c1;
    --db2: #2c3aad;
    --db3: #273398;
    --scrollHover: #273398;
    --modal: #f5f6fc;
    --modalBlur: rgba(225, 227, 247, 0.7);
    --db6: #171e5b;
    --bg: white;
    --scrollBar: #a4abe8;
    --scrollBg: #ccd0f2;
    --footerBg: #e1e3f7;
    --textSelect: #03030a;
    --moon1: #ffd983;
    --moon2: #fdcb4c;
}

/* :root {
    --textHover: #eaebfb;
    --lb2: #c0c4f2;
    --lb3: #959ce9;
    --subTxt: #6b74e0;
    --lb5: #414dd8;
    --db1: #2733be;
    --db2: #1f2894;
    --db3: #161d6a;
    --db4: #0d113f;
    --modal: #0a0d27;
    --db6: #040615;
    --moon1: #ffd983;
    --moon2: #fdcb4c;
} */