:root {
    --lb1: #eaebfb;
    --lb2: #c0c4f2;
    --lb3: #959ce9;
    --lb4: #6b74e0;
    --lb5: #414dd8;
    --db1: #2733be;
    --db2: #1f2894;
    --db3: #161d6a;
    --db4: #0d113f;
    --db5: #0a0d27;
    --db6: #040615;
}