@import url(colors.css);

.witbtn .whitebttn {
    text-align: center;
    border-radius: 100px;
    border: 3px solid #e1e8ed;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.4vw;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 20%;
    transition: background-color 0.2s ease-out, transform 0.3s ease-out;
    float: left;
}

.whitebttn:hover {
    background-color: white;
    color: #333333;
    transition: background-color 0.2s ease-in, transform 0.3s ease-in;
    /* transform: translateY(-0.15em); */
}

.witbtn {
    margin: 0;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: center;
}

.whitebttn {
    padding-left: 4vh;
    padding-right: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.normbttn {
    color: #333333;
    background-color: white;
    box-shadow: 0 8px #747473;
}

.normbutton:hover {
    color: #333333;
    transform: translateY(-0.15em);
    background-color: white;
}

.flex-parent {  
    display: flex;
}

.jc-center {
    justify-content: center;
}

.posParent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.posChild {
    text-align: center;
    /* margin-top: 15vh;
    margin-bottom: 15vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
}

.stars {
    z-index: -49;
    position:absolute;
    top:0;
    width: 99vw;
    height: 100vh;
}

.shooting-star {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    animation: shootingStar 3s linear infinite;
    opacity: 0;
    z-index: -48 !important;
    box-shadow: 0 0 0px 3px #ffffff42;
    top: 1px;
}

.shooting-star::before {
    content: '';
    position: absolute;
    bottom: 350%;
    width: 50px;
    height: 1px;
    background: linear-gradient(25deg, #ffffffff 10%, #ffffff00 100%);
    border-radius: 50%;
    transform:translateY(550%) rotate(-25deg);

}

@keyframes shootingStar {
    0% {
        transform: translate(15vw, 5vw);
        opacity: 0;
    }
    45% {
        transform: translate(-11vw, 20vw);
        opacity: 1;
    }
    50% {
        transform: translate(-11.5vw, 20.5vw);
        opacity: 0;
    }

    100% {
        transform: translate(-12vw, 21vw);
        opacity: 0;
    }
}

.sky {
    z-index: -50;
    position:relative;
    background: linear-gradient(0deg, #21121200 0%, var(--gradient) 100%);
}

.satellite1 {
    position:absolute;
    top: -50px;
    left: -250px;
    width: 128px;
    height: 128px;
    background-size: contain;
    animation: satellite1 3.5s ease-in-out infinite;
}

@keyframes satellite1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
    
}

.satellite2 {
    position:absolute;
    bottom: 130px;
    right: -250px;
    width: 128px;
    height: 128px;
    background-size: contain;
    animation: satellite2 3.5s ease-in-out infinite;
} 

@keyframes satellite2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
    
}

.moonClouds .moon,
.moonClouds .cloud1,
.moonClouds .cloud2 {
    width: 300px !important;
    height: 300px !important;
    background-size: contain;
}

.moon {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.cloud1 {
    left: 134px !important;
    top: -19px !important;
}

.cloud2 {
    left: -154px !important;
    top: 77px !important;
}

.title {
    margin-top: 100px;
}

.fly1 {
    animation: fly1 .7s forwards;
    opacity: 0;
    animation-delay: .2s;
}

.fly2 {
    animation: fly2 .7s forwards;
    opacity: 0;
    animation-delay: .2s;
}

@keyframes fly1 {
    0% {
        transform: translateX(10vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0vw);
    }
}

@keyframes fly2 {
    0% {
        transform: translateX(-10vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0vw);
    }
}

/* .halfCircle {
    width: 99.4vw;
} */

.sect2 {
    background: var(--modal);
    /* width: 99.4vw; */
    height: 100vh;
}

@media only screen and (max-width: 700px) {
    .flex-parent {
        display: block;
    }
    .witbtn .whitebttn {
        margin-top: 1em;
        margin-bottom: 1em;
        width: 75%;
        margin-left: 12.5%;
        margin-right: 12.5%;
        font-size: 3.8vw;
        padding-left: 0;
        padding-right: 0;
    }
    
    .witbtn {
        margin: 0;
    }

    .moonClouds .moon,
    .moonClouds .cloud1,
    .moonClouds .cloud2 {
        width: 50vw !important;
        height: 50vw !important;
        background-size: contain;
    }

    .posChild {
        margin-top: 30vh;
    }

    .satellite1 {
        display: none;
    }

    .satellite2 {
        display: none;
    }

    .moon {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .cloud1 {
        left: 14vw !important;
        top: -2vw !important;
    }

    .cloud2 {
        left: -16vw !important;
        top: 8vw !important;
    }

    .title {
        margin-top: 10vh;
        font-size: 22px;
    }
}

@media screen and (max-width: 1000px) {
    .satellite1 {
        display: none;
    }

    .satellite2 {
        display: none;
    }

    .shooting-star {
        display: none;
    }
}