.dropcheck {
    display: none;
}

nav ul {
    list-style: none;
    padding:0;
    background:#131859; /* color */
}

nav ul li a {
    color:#e1e8ed;
    text-decoration: none;
    padding: .8rem 1rem;
    display: block;
    line-height: 1;
}

nav ul li {
    border-bottom: 1px #ddd;
}

.dropdown-content {
    display: none;
}

/* Mobile view */
@media only screen and (max-width: 650px) {
    .links {
        display:none;
    }
    .dropbtn {
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .clickit {
        transition: opacity .2s ease-in-out;
    }

    .clickit:hover {
        color: #e1e8ed;
    }

    .clickit:active {
        opacity: .85;
    }

    .dropdown-content {
        display: none;
        text-align: center;
        min-width: 160px;
        /* box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%); */
        z-index: -1;
        position: absolute;
        width: 100%;
        background: #131859; /* color */
    }

    .dropdown-content a {
        color: #e1e8ed;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content .icons {
        display: inline-block;
        padding: 1em 10px;
        transition: transform .3s ease-in-out;
        color: white;
        opacity: 0.9;
    }

    .dropcheck {    
      position: absolute;
      left: -9999px;
    }

    h1 {
        background: #131859; /* color */
    }

    .slide-down {
        display: block;
        animation: slideDown2 .5s forwards;
        transition: all .5s ease-in-out;
    }
    
    .slide-up {
        display: block;
        animation: slideUp2 .5s forwards;
        transition: all .5s ease-in-out;
    }
    
    @keyframes slideDown2 {
        0% {transform: translateY(-100vh);}
        100% {transform: translateY(-.5vh);}
    }
    
    @keyframes slideUp2 {
        0% {transform: translateY(-.5vh);}
        100% {transform: translateY(-100vh);}
    }

    a.middle {
      position: relative;
    }

    a.middle::before,a.middle::after {
        content: "";
        position: absolute;
        bottom:0;
        right: 0;
        width:0%;
        height: 2px;
        background:white;
        transition: .2s width ease-in-out;
    }

    a.middle::before {
        left: 0
    }
    
    a.middle:hover::after,a.middle:hover::before {
        width: 50%;
    }

    nav div:first-child img {
        width: 8%;
    }

    .navTxt {
        font-size: 40%;
        padding-left:5%
    }

    .logoWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        white-space: nowrap;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        /* background: #131859; color */
        align-items: baseline;
    }

    nav ul {
        display: flex;
        align-items: center;
        background:none;
        /* flex-wrap: nowrap; */
        justify-content: flex-end;
    }
    
    nav div:first-child h1 {
        line-height: 0;
        padding: 5% 12.5% !important;
        padding: 0;
        margin:-20px 1rem;
        display: block !important;
    } 

    nav div:first-child img { 
        opacity: 0.9;
        height: auto;
    }

    nav div:first-child h1, nav ul{
        margin:0;
    }
    
    #navbar, #nav {
        position: fixed !important;
        z-index: 20 !important;
        top: 0px !important;
        /* box-shadow: 0 -2vw 3vw #0070c0; */
    }

    .fixed {
        top: 0px !important;
        animation: none !important;
    }
}

/* Desktop View */
.desLogo img {
    float: left;
    /* padding: 0% 1%; */
    text-align: left;
    width: 30px;
    height: auto;
    padding: 20px 10px;
    padding-left: 20px;
    /* justify-content: flex-start; */
}

.navTxt2 {
    font-size: 30px;
    /* padding: 20px 20px; */
}

.desLogoWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

nav div:first-child h1 {
    display: none;
}
    
.desWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}

nav ul div {
    display: flex;
}

nav ul li {
    border-bottom:none;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

nav ul li a {
    padding:0 1rem;
    position: relative;
}

nav ul li a::before {
    left:0;
}

nav ul li a:hover::after,nav ul li a:hover::before{
    width: 50%;
} 
     
#navbar, #nav {
    position: sticky;
    z-index: 1;
}

.fixed {
    position: fixed;
    top: -100px;
    width:100%;
    animation: slideDown .5s;
    animation-fill-mode: forwards, none;
}

@keyframes slideDown {
    1% {top: -100px;}
    100% {top: 0;}
}