@import url(./css/colors.css);

body {
    background-color: var(--bg);
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
    color: var(--text1);
    line-height: 20px;
    margin: 0;
    position: relative;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
  }
  
  .container {
    min-height: 100vh;
  }
  
  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 52px;
    font-style: normal;
    color: var(--text1);
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 32px;
    font-style: normal;
    color: var(--text1);
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  h3 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: var(--text1);
    margin-top: 0px;
    text-align: center;
    margin-bottom: 5px;
  }

  p1 {
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    display: block;
    color: var(--subTxt);
    font-weight: 400;
    font-size: 20px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 0em;
    margin-bottom: 3em;
  }

  p2 {
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    display: block;
    color: var(--subTxt);
    font-weight: 400;
    font-size: 18px;
  }
  
  a {
    color: var(--text1);
    text-decoration: none;
    transition: color .2s ease-in-out;
  }
  
  a:hover {
    color: var(--textHover);
  }
  
  .last {
    padding-bottom: 6em !important;
    text-align: center;
  }
  
  ::selection {
    background: var(--moon1);
    color: var(--textSelect);
  }

  html {
    --thumbBG: var(--scrollBar);
    --scrollbarBG: var(--scrollBg);
    scroll-behavior: smooth;
  }

  body::-webkit-scrollbar {
    width: .8vw;
  }

  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: .6vw;
    border: .2vw solid var(--scrollbarBG);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollHover); 
  }